<html lang="fi">
<head>
    <title>Kirjakeskustelusovellus</title>
</head>
<body>
    <p>Tervetuloa, {{ session.get('username') }}</p>
    <a href="/logout">Kirjaudu ulos</a>
    <hr>
    <h2>Arvostelujen määrä: {{ count }}: </h2>

    {% if reviews %}
        {% for review in reviews %}
            <div>
                <p>Book ID: {{ review.book_id }}</p>
                <p>Luotu: {{ review.sent_at.strftime("%Y-%m-%d %H:%M:%S") }}</p>
                <p>Arvosana: {{ review.grade }}</p>
                <p>Arvostelu: {{ review.content }}</p>
            </div>
        {% endfor %}
    {% else %}
        <p>Ei arvosteluja saatavilla.</p>
    {% endif %}
    <a href="/new">Kirjoita uusi arvostelu</a>
</body>
</html>



