<title>Kirjakeskustelusovellus</title>

{% if session.username %}
<p>Tervetuloa, {{ session.username }}</p>
Valitse genre
{% for genre in genres %}
<h2>{{ genre.name }}<h2> <br>
Arvosteluja: x <br>
<a href="/genre/{{ genre.id }}">Arvostelut</a> <br>
</p>
{% endfor %}
<a href="/logout">Kirjaudu ulos</a>

{% else %}
<h2>Kirjaudu sisään</h2>
<form action="/login" method="POST">
<p>Tunnus:<br>
<input type="text" name="username"></p>
<p>Salasana:<br>
<input type="password" name="password"></p>
<input type="submit" value="Kirjaudu">
</form>

<h2>Luo uusi käyttäjätunnus</h2>
<form action="/register" method="POST">
<p>Tunnus:<br>
<input type="text" name="username"></p>
<p>Salasana:<br>
<input type="password" name="password"></p>
<input type="submit" value="Luo käyttäjätunnus">
</form>
{% endif %}



