<h2>Kirjaudu sisään</h2>

<style>
    body {
        margin: auto;
        max-width: 45em;
        font-family: 'Helvetica', 'Arial', sans-serif;
        background: gray;
    }

    .header {
        background: white;
        padding: 0.5em 1em;
        border-radius: 0.5em;
    }
</style>

{% if error %}
<p style="color:red;">{{ error }}</p>
{% endif %}

<div class="header">
<form action="/login" method="POST">
<p>Tunnus:<br>
<input type="text" name="username"></p>
<p>Salasana:<br>
<input type="password" name="password"></p>
<input type="submit" value="Kirjaudu">
</form>

<h2>Luo uusi profiili</h2>
<li><a href="/register">Luo uusi käyttäjätunnus</a></li>
</div>
